/* GLOBAL */

body {
  overflow: hidden;
  margin:0;
  box-sizing:border-box;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#padding-container {
  position: relative;
  height: 100%;
  padding: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#header {
  width: 100%;
  height: 15vmin;
  background-color: black;
  color: white;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
#drum-circle {
  width: 96vmin;
  height: 96vmin;
  background: #000;
  border-radius: 50%;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 5;
}
#tick-hand {
  width: 0.5vmin;
  height: 48vmin;
  transform-origin: 50% 100%;
  background-color: gray;
  /* transition: background 100ms ease; */
}
#tempo-control > input {
  width: 100%;
  
}
#play-button {
  /* background-color: tan; */
  width: 30vmin;
  height: 30vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 50ms ease;
}

.material-icons {
  color: black;
  font-size: 6rem;
  width: 6rem;
}

